/experiments/constraints150R/linesonly/
/experiments/csrankings_case/csrankings_result.pdf
/experiments/csrankings_case/csrankings_result.png
/experiments/csrankings_case/csrankings_results.pdf
/experiments/csrankings_case/csrankings_results_ref.pdf
/experiments/exams_case/exam_results.pdf
/experiments/exams_case/exams.png